.overlay{
    opacity:    0.8;
    background: #000;
    width:      100%;
    height:     100%;
    z-index:    10;
    top:        0;
    left:       0;
    position:   fixed;
}
.formReg{
    width: 100%;
    min-height: 50px;
}